.formWrapper {
    padding: 10px 25px;
    background-color: rgba(198, 198, 198, 0.5);
    width: max-content;
    margin: 100px auto;
    border-radius: 20px;
}

.formWrapper > h1 {
    text-align: center;
    padding: 10px 0 20px 0;
}

.formWrapper > table {
    border-collapse: separate;
    border-spacing: 0 8px;
}

.formWrapper > table td {
    padding-right: 15px;
}

.formWrapper > table tr {
    padding-bottom: 1em;
}

.roundInput {
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #000;
}

.formLabel {
    font-size: 20px;
}

.btnSubmit {
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #000;
    float: left;
    margin: 10px;
}
