@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 980px;
    float: right;
    padding: 0 100px;
}

.clearfix {
    overflow: auto;
}

/*#projectName {
    color: #fff;
    float: left;
    display: table-cell;
    text-align: center;
    font-size: 26px;
}

header {
    padding: 20px 0;
    background-color: #111;
    font-family: 'Alef', sans-serif;
    height: 80px;
    line-height: 80px;
}

nav ul {
    display: inline-block;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-left: 8px;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
}

nav ul li a:link {
    color: #fff;
}

nav ul li a:hover {
    color: #00ffff;
}

nav ul li a:visited {
    color: #fff;
}*/

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html, body, #mainForm {
    height: 100%;
    margin: 0;
}

.navbar {
    float: right;
    background: #111;
    height: 100%;
    padding: 30px 30px 0 100px;
}

#projectName {
    font-size: 32px;
    font-family: 'Arimo', sans-serif;
    color: #fff;
    letter-spacing: 3px;
}

nav > ul {
    list-style: none;
    padding: 30px 0;
}

nav > ul li {
    padding-top: 6px;
    font-size: 20px;
}

nav > ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    transition: .5s all;
}

nav > ul li a:hover {
    color: aqua;
    transition: .5s all;
}

@media (max-width: 600px) {
    .navbar {
        width: 100%;
        height: auto;
    }
}